[submodule "cookbooks/gecoscc-ui"]
	path = cookbooks/gecosccui
	url = https://github.com/gecos-team/cookbook-gecosccui.git
[submodule "cookbooks/gecoscc-chef-server"]
	path = cookbooks/gecoscc-chef-server
	url = https://github.com/gecos-team/gecoscc-chef-server-cookbook.git
[submodule "cookbooks/chef-client"]
	path = cookbooks/chef-client
  	url = https://github.com/opscode-cookbooks/chef-client.git
[submodule "cookbooks/cron"]
  	path = cookbooks/cron
  	url = https://github.com/opscode-cookbooks/cron.git
[submodule "cookbooks/logrotate"]
  	path = cookbooks/logrotate
  	url = https://github.com/stevendanna/logrotate.git
[submodule "cookbooks/gecos-ws-mgmt"]
	path = cookbooks/gecos-ws-mgmt
	url = https://github.com/gecos-team/gecos-workstation-management-cookbook.git
[submodule "cookbooks/gecos_ws_mgmt"]
	path = cookbooks/gecos_ws_mgmt
	url = https://github.com/gecos-team/gecos-workstation-management-cookbook.git
[submodule "cookbooks/ohai-gecos"]
	path = cookbooks/ohai-gecos
	url = git@github.com:gecos-team/gecos-workstation-ohai-cookbook.git
