[submodule "cookbooks/gecoscc-ui"]
	path = cookbooks/gecoscc-ui
	url = git@github.com:gecos-team/cookbook-gecosccui.git
[submodule "cookbooks/gecoscc-chef-server"]
	path = cookbooks/gecoscc-chef-server
	url = git@github.com:gecos-team/cookbook-gecoscc-chef-server.git
