[submodule "cookbooks/gecoscc-ui"]
	path = cookbooks/gecoscc-ui
	url = https://github.com/gecos-team/cookbook-gecosccui.git
[submodule "cookbooks/gecoscc-chef-server"]
	path = cookbooks/gecoscc-chef-server
	url = https://github.com/gecos-team/gecoscc-chef-server-cookbook.git
